*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
#food-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
}